.search-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.book{
  display: flex;
  flex-direction: row;
}

.book img{
  display: flex;
  width: 150px;
  height: 250px;
}